/* pagina nosotros */

.imagenes-nosotros {
    display: flex;
    justify-content: center;
    padding: 10px 10px 20px 10px;
    gap: 5px;
    flex-wrap: wrap;
}

.imagenes-nosotros-imagen {
    width: 310px;
    transition-duration: 0.5s;
}

.contenedor-nuestra-clinica {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.nuestra-clinica {
    display: flex;
    flex-direction: column;
    width: 420px;
    padding: 10px 10px;
    background: $color-terciario;
    align-items: center;
    transition-duration: 0.5s;
}

.vison-mision {
    width: 420px;
    transition-duration: 0.5s;
}

.nuestra-clinica-titulo,
.vison-mision-titulo {
    padding: 10px 0px;
    font-size: $titulos;
    font-weight: bold;
}

.nuestra-clinica-parrafo,
.vison-mision-parrafo {
    text-align: justify;
    font-size: $parrafos;
}

.vison-mision-parrafo {
    padding: 10px;
}