// Colores
$color-background:#D9D9D9;
$color-background-2:#bdbcbc;
$color-primario:#404040;
$color-secundario:#595959;
$color-terciario:#d8d6d6;
$color-contraste-1:#F2F2F2;
$color-pies:#efb910;
$color-pies-2:#dbae26;

// Tamaños letras
$titulos:33px;
$parrafos:16px;
$nombres:22px;